# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask stuff:
instance/
.webassets-cache

/.vscode
*/test
*/darknetlib
*/darknetlibnew
*/mmdetection
*.pyc
core/main/__pycache__/*
core/main/service/VideoAnalysis/darknetlib/
core/main/service/VideoAnalysis/darknetlibnew/
core/main/service/VideoAnalysis/mmdetection/
171-Truck_Moving.mp4
checkpoints/*
